{% extends 'base-en.html' %}
{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <title>Public Event</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock meta %}
{% block content %}
<body>
<main class="container">
    <div class="row text-center justify-content-center">
        <div class="col">
            <h1 class="display-4">User Public Events: {{nama}} </h1>
            <section id="section">
                <ul id="event" ></ul>
            </section>
        </div>
    </div>
</main>
</body>
<script>

    const API_URL = "https://strapi-production-ef0a.up.railway.app/api/calendar-users/?populate=*"
    const token = "Bearer 0a04e1e24d0f8378239582a5f78fc771c0a7bc0c59a5e125c05da47f81d51756662a4ded3c26e78fa033fca3d0d076863d48ac1b74d63a78b5ccd177ac55c9bc7c94692d962e10533d377963b151500a08629d83466843fae102f4784c9dfc3ddf880ee51abeba58fb02fe4fdb7e6f8387942c42391ac58c7b3f18bc0d5de275"
    var nama = '{{nama}}'
    async function fetchPosts() {
        const response = await fetch(`${API_URL}`, {headers:{
            'Authorization': token
        }})
        let data = await response.json()
        show(data.data, nama)
    }

    function show(data, nama) {
        const ul = document.getElementById('event');
        const list = document.createDocumentFragment();
        for (let x in data) {
            let nama_user = data[x].attributes.nama
            if (nama_user === nama) {
                let list_event = data[x].attributes.listEvent.data
                console.log(list_event)
                for (let i in list_event) {
                    let publicEvent = list_event[i].attributes.isPublic
                    if (publicEvent) {
                        let li = document.createElement('li')
                        let title = document.createElement('h1');
                        let startDate = document.createElement('p')
                        let endDate = document.createElement('p')
                        let notes = document.createElement('p')

                        title.innerHTML = `${list_event[i].attributes.title}`;
                        startDate.innerHTML = `${new Date(list_event[i].attributes.startDate)}`;
                        endDate.innerHTML = `${new Date(list_event[i].attributes.endDate)}`
                        if (list_event[i].attributes.notes != null) {
                            notes.innerHTML = `${list_event[i].attributes.notes}`
                        }
                        else {
                            notes.innerHTML = `"tidak ada notes"`
                        }

                        li.appendChild(title)
                        li.appendChild(startDate)
                        li.appendChild(endDate)
                        li.appendChild(notes)
            
                        list.appendChild(li)
                    }
                }
                break
            }
            
        }

        ul.appendChild(list);

    }
    fetchPosts()
</script>
{% endblock content %}