{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Event</title>
<link rel="stylesheet" href="{% static 'events/css/style.css' %}" />
<link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<div class="content-root">
    <div id="alert_required_fields" class="container-fluid p-0"></div>
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert alert-danger {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="form-root">
        <h1 id="judul-form">Buat Event/Acara</h1>
        <section>
            <form action="" method="post" id="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button fit-content submit-btn" style="border-radius: 15px; padding: 10px 70px;">
                    Buat Event
                </button>
            </form>
            <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
            <script>
                $('select option:first-child').attr("selected", "selected");
            </script>
        </section>
    </div>
    <object class="object only-desktop" data="{% static 'events/svg/Duplicate-pana.svg' %}"
        type="image/svg+xml"></object>
</div>
{% endblock content %}